.loginPage {
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  padding: 5rem;
  justify-content: center;
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    div {
      margin-bottom: 1rem;
    }
    span {
      margin-top: 1rem;
    }
  }
}
